{erl_opts, [debug_info]}.
{minimum_otp_vsn, "21.0"}.

{deps, [
  {elli, "~> 3.3.0"}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    incremental
]}.


%% apps to auto-boot with `rebar3 shell'
{shell, [
    {config, "config/sys.config"},
    {apps, [identity_server]}
]}.
