{erl_opts, [debug_info]}.
{minimum_otp_vsn, "23.0"}.

{deps, [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
    {erl_base58, "0.0.1"}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    incremental
]}.


%% apps to auto-boot with `rebar3 shell'
{shell, [
    {config, "config/sys.config"},
    {apps, [identity_server]}
]}.
