[{kernel,
    [
        {logger_level, info},
        {logger,
            [{
                handler,
                default,
                logger_std_h,
                #{
                    config => #{},
                    filters => [
                        {remote_group_leader, {fun logger_filters:remote_gl/2, stop}},
                        {progress, {fun logger_filters:progress/2, stop}},
                        {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}}
                    ],
                    formatter => {logjam_formatter,
                        #{
                            colored => true,
                            strip_tz => true,
                            level_capitalize => true,
                            time_designator => " ",
                            template => [time, " [", colored_start, level, colored_end, "] ", msg, "\n"]
                        }
                    }
                }
            }]
    }]
}].